.Weather {
    background: linear-gradient(
      rgba(254, 222, 254, 0.675),
      rgba(255, 255, 255, 0.791) 90%
    );
    margin: 60px auto 15px;
    padding: 20px;
    z-index: 5;
    box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.343);
  }
  
  .Weather .weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
  }
  
  .Weather .date-now {
    font-family: "Noto Serif", serif;
    color: rgba(28, 5, 52, 0.568);
    font-size: 14px;
    font-weight: 600;
  }
  
  .Weather .weather-details-list {
    color: rgba(28, 5, 52, 0.568);
    font-size: 14px;
  }
  
  .Weather .weather-temperature .active:hover {
    text-align: none;
  }
  
  .Weather .degrees {
    font-size: 59px;
  }
  
  .Weather .units {
    position: relative;
    top: -25px;
  }
  
  .Weather .weather-elements {
    background: linear-gradient(
      rgba(251, 251, 251, 0.502),
      rgba(142, 117, 211, 0.816)
    );
    box-shadow: 3px 5px 5px rgba(72, 72, 72, 0.187);
  }
  
  .Weather .weather-forecast-temperatures {
    font-size: 14px;
  }
  
  .Weather .description {
    font-family: "Noto Serif", serif;
    font-size: 13.5px;
    color: rgba(28, 5, 52, 0.568);
  }
  
  .Weather .description::first-letter {
    text-transform: capitalize;
  }