.Weather {
    background: linear-gradient(
      rgba(254, 222, 254, 0.675),
      rgba(255, 255, 255, 0.791) 90%
    );
    margin: 60px auto 15px;
    padding: 20px;
    z-index: 5;
    box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.343);
    font-family: arial, sans-serif;
  }

  .Weather h1 {
    color: rgba(30, 7, 54, 0.84);
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
  }

  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
  }

  .Weather .temperature {
    color: rgba(30, 7, 54, 0.84);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    margin-left: 10px;
  }
  
  .Weather canvas {
    margin: 7px auto;
  }

  .Weather .unit {
    color: rgba(30, 7, 54, 0.957);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    text-decoration: none;
  }

  .Weather a {
    text-decoration: none;
  }
  
  .Weather .date-now { 
    color: rgba(28, 5, 52, 0.568);
    font-size: 14px;
    font-weight: 600;
  }
  
  .Weather .weather-details-list {
    color: rgba(28, 5, 52, 0.568);
    font-size: 14px;
  }
  
  .Weather .weather-temperature .active:hover {
    text-align: none;
  }
  
  .Weather .degrees {
    font-size: 59px;
  }
  
  .Weather .units {
    position: relative;
    top: -25px;
  }